<div class="container h-100">
  <div class="row h-100">
    <div class="col-md-12">


      <div class="bg-white p-4 mt-4 rounded" style="height: 95%">
        {% include "settings/employee/tables/deduction_table.html" %}
        <a hx-get="{% url 'create_deduction' user.user.id %}" hx-target="#customDialog" href="#" class="btn btn-primary mt-3">
          Create Deduction
        </a>

        {% block modal %}
        <div id="customModal" class="modal fade">
          <div id="customDialog" class="modal-dialog" hx-target="this"></div>
        </div>
        {% endblock modal %}

      </div>
    </div>
  </div>
  <br>
</div>


{% block script %}
<script>

  // Define the custom modal
  var customModal = new bootstrap.Modal(document.getElementById("customModal"));

  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #customDialog => show the custom modal
    if (e.detail.target.id == "customDialog") {
      customModal.show();
    }
  });

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #customDialog => hide the custom modal
    if (e.detail.target.id == "customDialog" && !e.detail.xhr.response) {
      customModal.hide();
      e.detail.shouldSwap = false;
    }
  });

  htmx.on("hidden.bs.modal", () => {
    document.getElementById("customDialog").innerHTML = "";
  });

  window.addEventListener('DOMContentLoaded', (event) => {
      // Delay autofocus by 500 milliseconds (adjust the delay as needed)
      setTimeout(() => {
          document.querySelector('#elementToFocus').focus();
      }, 500);
  });
</script>
{% endblock script %}

