<div
  hx-get="{% url 'deduction' user.user.id %}"
  hx-trigger="deduction_refresh"
  _="on htmx:afterRequest reload() me"
  class="mt-10">
  <div class=" bg-gray-800 rounded-lg md:min-w-80">
    <div class="flex justify-center items-center mb-2 rounded-t-lg bg-gray-700">
      <p class="text-white text-lg m-2"> Deduction </p>
    </div>
    <div class="relative overflow-x-auto shadow-lg m-5 sm:rounded-lg" style="max-height: 33rem">
      {% include "settings/employee/tables/deduction_table.html" %}
    </div>
    {% if perms.accounts.change_userprofile %}
    <div class="flex justify-center lg:gap-32 gap-5 mt-10 mx-3">
      <button 
        hx-get="{% url 'create_deduction' user.user.id %}"
        hx-target="#modal_form"
        hx-swap="innerHtml"
        _="on click remove .hidden from modal_div " 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
        font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
        dark:focus:ring-blue-800 my-3" type="button">
        Edit
      </button>
    </div>
    {% endif %}
  </div>
  <!-- Main Modal -->
  <div
    id="modal_div"
    class="hidden overflow-y-auto overflow-x-hidden fixed left-0 top-0 bg-black 
    bg-opacity-50 w-screen h-screen flex justify-center items-center z-50 md:inset-0 ">
    <div class="relative p-4 w-full max-w-lg max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 p-6 my-6">
        <div id="modal_form"> </div>
      </div>
    </div>
  </div>
</div>
