{% load component_tags %}
<div
  hx-get="{% url 'info' user.user.id %}"
  hx-trigger="info"
  id="info" class="m-0 p-0">
  <div class="grid lg:grid-cols-2 gap-10">
    <div
      class=" bg-gray-800 rounded-lg h-auto max-w-full">
      <div class="flex justify-center items-center mb-2 rounded-t-lg bg-gray-700">
        <p class="text-white text-lg m-2"> User Information</p>
      </div>
      <div class="relative overflow-x-auto shadow-lg m-5 sm:rounded-lg ">
        <table class="w-full text-sm text-left rtl:text-right text-gray-200">
          <tbody>
            <tr class="border-b border-gray-600">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white Username </th>
              <td class="px-6 py-4"> {{ user.user.username }} </td>
            </tr>
            <tr class="border-b border-gray-600">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> First Name </th>
              <td class="px-6 py-4"> {{ user.user.first_name }} </td>
            </tr>
            <tr class="border-b border-gray-600">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Last Name </th>
              <td class="px-6 py-4"> {{ user.user.last_name }} </td>
            </tr>
            <tr class="border-b border-gray-600">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Email </th>
              <td class="px-6 py-4"> {{ user.user.email }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Active </th>
              <td class="px-6 py-4">
                {% if user.user.is_active %}
                <i class="far fa-check-circle" style="color: #63e6be;"></i>
                {% else %}
                <i class="far fa-times-circle" style="color: #ff0000;"></i> 
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if perms.accounts.change_userprofile %}
      <div class="flex justify-center lg:gap-32 gap-5 mt-10 mx-3">
        {% component "button" label="Edit" hx_get=True url_name="edit_user" url_params=user.user.id hx_swap="innerHtml" hx_target="#modal_form" hyper="on click remove .hidden from modal_div" %}{% endcomponent %}
        <button 
          hx-get="{% url 'reset_password' user.user.id %}" 
          hx-target="#modal_form"
          hx-swap="innerHtml"
          _="on click remove .hidden from modal_div " 
          class="text-white focus:ring-4 focus:outline-none
          font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 
          focus:ring-blue-800 my-3" type="button">
          Reset Password
        </button>
      </div>
      {% endif %}
    </div>
    <div
      class=" bg-gray-800 rounded-lg h-auto max-w-full">
      <div class="flex justify-center items-center mb-2 rounded-t-lg bg-gray-700">
        <p class="text-white text-lg m-2"> Profile Information</p>
      </div>
      <div class="relative overflow-x-auto shadow-lg m-5 sm:rounded-lg ">
        <table class="w-full text-sm text-left rtl:text-right text-gray-400">
          <tbody>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Job Title </th>
              <td class="px-6 py-4"> {{ user.job_title.name }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> City </th>
              <td class="px-6 py-4"> {{ user.city.name }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Adress </th>
              <td class="px-6 py-4"> {{ user.address }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Birth Day </th>
              <td class="px-6 py-4"> {{ user.date_of_birth }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Start at </th>
              <td class="px-6 py-4"> {{ user.start}} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Gender </th>
              <td class="px-6 py-4"> {{ user.get_gender_display }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Age </th>
              <td class="px-6 py-4"> {{ user.age }} </td>
            </tr>
            <tr class="border-b border-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white bg-gray-700"> Salary </th>
              <td class="px-6 py-4"> {{ user.salary }} </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% if perms.accounts.change_userprofile %}
      <div class="flex justify-center my-2">
        <button 
          hx-get="{% url 'edit_user_profile' user.user.id %}"
          hx-target="#modal_form"
          hx-swap="innerHtml"
          _="on click remove .hidden from modal_div " 
          class="text-white focus:ring-4 focus:outline-none
          font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 
          focus:ring-blue-800 my-3" type="button">
          Edit
        </button>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="grid lg:grid-cols-2 gap-10 mt-10">
    <div
      class=" bg-gray-800 rounded-lg h-auto max-w-full">
      <div class="flex justify-center items-center mb-2 rounded-t-lg bg-gray-700">
        <p class="text-white text-lg m-2"> Job Title History </p>
      </div>
      <div class="relative overflow-x-auto shadow-lg m-5 sm:rounded-lg ">
        {% include "settings/employee/tables/job_title_table.html" %}
      </div>
    </div>
    <div
      class=" bg-gray-800 rounded-lg h-auto max-w-full">
      <div class="flex justify-center items-center mb-2 rounded-t-lg bg-gray-700">
        <p class="text-white text-lg m-2"> Salary History </p>
      </div>
      <div class="relative overflow-x-auto shadow-lg m-5 sm:rounded-lg ">
        {% include "settings/employee/tables/salary_table.html" %}
      </div>
    </div>
  </div>

  <!-- Main Modal -->
  <div
    id="modal_div"
    class="hidden overflow-y-auto overflow-x-hidden fixed left-0 top-0 bg-black 
    bg-opacity-50 w-screen h-screen flex justify-center items-center z-50 md:inset-0 ">
    <div class="relative p-4 w-full max-w-lg max-h-full">
      <div class="relative rounded-lg shadow bg-gray-700 p-6 my-6">
        <div id="modal_form"> </div>
      </div>
    </div>
  </div>
</div>
