{% load crispy_forms_tags %}
<div
  class="mt-10">
  <div class=" bg-gray-800 rounded-lg md:min-w-80">
    <div class="flex justify-center items-center mb-2 rounded-t-lg bg-gray-700">
      <p class="text-white text-lg m-2"> Permissions </p>
    </div>
    <div class="flex justify-center lg:gap-32 gap-5 mt-10 mx-3">
      <form hx-post="{% url 'permissions' pk=pk %}" class="text-white">
        <div class="py-3">
          {% csrf_token %}
          {% for checkbox in form.user_permissions %}
            <div class="form-check">
                {{ checkbox }}
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
              <br>
            {% endif %}
          {% endfor %}
        </div>
        <div class="flex justify-between mt-2 px-5">
        <button 
          class="block text-white focus:ring-4 focus:outline-none
          font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-800 
          focus:ring-blue-800 my-3" type="submit">
          save
        </button>
        </div>
      </form>
    </div>
  </div>
</div>
