<div class="container mx-auto p-6">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-3xl font-bold">Studio Vision</h1>
      <p class="uppercase font-bold ">p  h  o  t  o  g  r  a  p  h  y</p>
      <p class="font-bold">01200 1200 80</p>
    </div>

    <table class="rtl:min-w-full rtl:bg-white rtl:border rtl:border-gray-300 rtl:mb-4 " dir="rtl">
      <tbody>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border rtl:border-gray-300 rtl:text-center rtl:font-normal">رقم الأوردر</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border rtl:border-gray-300 rtl:text-center rtl:font-semibold">{{ order.id }}</td>
        </tr>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border rtl:border-gray-300 rtl:text-center rtl:font-normal">اسم العميل</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border rtl:border-gray-300 rtl:text-center rtl:font-semibold">{{ order.customer.name_one }}</td>
        </tr>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border rtl:border-gray-300 rtl:text-center rtl:font-normal">التاريخ</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border rtl:border-gray-300 rtl:text-center rtl:font-semibold">{{ order.created_at|date:'j/n/Y' }}</td>
        </tr>
      </tbody>
    </table>

    <table class="min-w-full bg-white border border-gray-300 mb-4">
      <thead>
        <tr>
          <th class="py-2 px-3 border border-gray-300 text-center">التسليم</th>
          <th class="py-2 px-3 border border-gray-300 text-center">العدد</th>
          <th class="py-2 px-3 border border-gray-300 text-center">السعر</th>
          <th class="py-2 px-3 border border-gray-300 text-center">المنتج</th>
        </tr>
      </thead>
      <tbody>
        {% for detail in order_details %}
        <tr>
          <td class="py-2 px-3 border border-gray-300 text-center">{{ detail.deliver_date|date:'j/n/Y' }}</td>
          <td class="py-2 px-3 border border-gray-300 text-center">{{ detail.amount }}</td>
          <td class="py-2 px-3 border border-gray-300 text-center">
            {% if detail.deliver_type == "N" %}
            {{ detail.product_line.normal_price }}
            {% else %}
            {{ detail.product_line.fawry_price }}
            {% endif %}
          </td>
          <td class="py-2 px-3 border border-gray-300 text-center">{{ detail.product_line.product.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="rtl:min-w-full rtl:bg-white rtl:border-0 rtl:border-gray-300 rtl:mb-4 w-40" dir="rtl" 
      x-data="{total: {{ payment.total }}, paid: {{ payment.paid }}, discount: {{ payment.discount }} }">
      <tbody>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-normal">إجمالي</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold">{{ payment.total }}</td>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold">LE</td>
        </tr>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-normal">مدفوع</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold">{{ payment.paid }}</td>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold">LE</td>
        </tr>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-normal">خصم</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold" x-text="(total*discount)/100"></td>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold">LE</td>
        </tr>
        <tr>
          <th class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-normal">متبقي</th>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold" x-text="(total-((total*discount)/100))-paid"></td>
          <td class="rtl:py-2 rtl:px-4 rtl:border-0 rtl:text-center rtl:font-semibold">LE</td>
        </tr>
      </tbody>
    </table>
    <hr class="border-solid border-t-2 border-black ">
    <p class="ml-2">{{ order.created_at|date:'j/n/Y  G:i' }}</p>
  </div>
</div>
  <div class="flex justify-between mt-2 px-5 border-t">
    <button 
      _="on click add .hidden to modal_div"
      type="button" class="text-white focus:outline-none
      focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 my-3
      bg-gray-600 hover:bg-gray-800 focus:ring-gray-700 border-gray-700">
      cancel
    </button>
    <button 
      _="on click add .hidden to modal_div"
      class="block text-white focus:ring-4 focus:outline-none
      font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-800 
      focus:ring-blue-800 my-3">
      Add
    </button>
  </div>
