{% extends 'base.html' %}
{% block content %} 
<style>
 form label {
    display: none;
  }
</style>
<div class="p-4 md:ml-64">
  <!-- Breadcrumb -->
  <nav class="flex mt-12 p-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center space-x-1 text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <i class=" fas fa-home"></i>
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium">
          Home
        </a> 
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li class="inline-flex items-center space-x-1 text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">
          Cashier
        </span>
      </li>
    </ol>
  </nav>
  <div class="px-4 rounded-lg h-full">
    <!--Customer Section-->
    <div class="grid grid-cols-4 gap-3 h-full">
      <div class="col-span-3 h-full bg-gray-800 rounded-tl-lg py-2 px-5">
        <div class="flex justify-center "> 
          <div class="flex items-center gap-1 mr-auto">
            <input type="number" aria-describedby="helper-text-explanation" id="customer_id" 
            class="border text-sm rounded-lg block w-28 mt-1.5 p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Customer ID" required />
            <button data-tooltip-target="tooltip-right" data-tooltip-placement="right">
              <i class="text-lg text-gray-400 fa-regular fa-circle-info"></i>
            </button>
            <div 
              id="tooltip-right" role="tooltip" 
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium
              text-white rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-500">
              <p> - Write the Customer ID </p>
              <p> - press "Enter" from the keyboard </p>
              <p> - If the user is exist the next form will be filled with the customer data </p>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          <form class="text-white mr-auto">
            <div class="px-2 pb-2 space-y-2">
              {% csrf_token %}
              {{ form }}
            </div>
          </form>
        </div>
      </div>
      <div class="flex h-full bg-gray-800 justify-center gap-1 items-center rounded-tr-lg p-10">
        <div>
          <input type="number" aria-describedby="helper-text-explanation" id="order_id" 
          class="border text-sm rounded-lg block w-28 p-2.5 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Order ID" required />
        </div>
        <button data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom">
          <i class="text-lg text-gray-400 fa-regular fa-circle-info"></i>
        </button>
        <div 
          id="tooltip-bottom" role="tooltip"
          class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium
          text-white rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-500">
          <p> - Write the Order ID </p>
          <p> - press "Enter" from the keyboard </p>
          <p> - If the order is exist it will get the order data </p>
          <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
    </div>

    <!--Order Section-->
    <div class="grid grid-cols-4 gap-3 mt-3" style="height: 35rem">
      <!--Products list-->
      <div class=" bg-gray-800 rounded-bl-lg overflow-y-auto h-full">
        <div class="bg-gray-700 flex justify-center text-gray-300 p-2 sticky top-0">
          <p class="text-lg border-b"> Products List </p>
        </div>
        <div id="product_list" class="pt-2">
        </div>
        
      </div>

      <!--Order Details-->
      <div class="col-span-3">
        <div class="grid grid-rows-7 h-full gap-y-3">
          <!--Order Details Table-->
          <div class="row-span-4 bg-gray-800 h-full">
            {% include 'cashier/tables/order_details_table.html' %}
          </div>

          <!--Order Details Payment-->
          <div class="row-span-2 flex justify-between items-center bg-gray-800 h-full px-5">
            <div class="flex justify-center items-center px-5 gap-10">
              <div class="text-center">
                <label for="discount" class="block mb-2 text-base font-medium text-gray-900 dark:text-gray-400">Discount</label>
                <input type="number" aria-describedby="helper-text-explanation" id="discount" 
                class="border text-sm text-center rounded-lg block w-24 p-2 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="0 %" required />
              </div>
              <div class="text-center">
                <p class="block mb-2 text-base font-medium text-gray-900 dark:text-gray-400">Total</p>
                <p class="text-white p-2">0.0 EGP</p>
              </div>
            </div>

            <div class="flex justify-center items-center px-5 gap-10">
              <div class="text-center">
                <label for="paid" class="block mb-2 text-base font-medium text-gray-900 dark:text-gray-400">Paid</label>
                <input type="number" aria-describedby="helper-text-explanation" id="paid" 
                class="border text-sm text-center rounded-lg block w-24 p-2 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="0.0" required />
              </div>
              <div class="text-center">
                <label for="remaining" class="block mb-2 text-base font-medium text-gray-900 dark:text-gray-400">Remaining</label>
                <input type="number" aria-describedby="helper-text-explanation" id="remaining" 
                class="border text-sm text-center rounded-lg block w-24 p-2 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="0.0" required />
              </div>
            </div>
          </div>

          <!--Order Details buttons-->
          <div class="row-span-1 flex justify-between items-center bg-gray-800 h-full px-5">
            <div class="flex justify-center items-center px-5 gap-10">
              <button 
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                dark:focus:ring-blue-800 my-3" type="button">
                OK
              </button>
              <button 
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 
                dark:focus:ring-blue-800 my-3" type="button">
                OK + Print
              </button>
            </div>

            <div class="flex justify-center items-center px-5 gap-10">
              <button 
                class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300
                font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" type="button">
                Folder
              </button>
              <button 
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100
                font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600
                dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                Clear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidecontent %}
  {% for category in category_list %}
    {% if category.is_active %}
    <li class="item">
    <a
      hx-get="{% url 'product_list' category.id %}"
      hx-target="#product_list"
      _="on click remove .bg-gray-700 from <a/> in .ul_items then add .bg-gray-700 to me"
      class="flex items-top p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 
      dark:hover:bg-gray-700 group cursor-pointer max-h-full">
      <span class="inline-block text-gray-500 transition duration-75 
        dark:text-gray-200 group-hover:text-gray-900 dark:group-hover:text-white">
        <i class="text-xl fa-solid fa-circle-plus"></i>
      </span>
      <span class="ms-5 text-gray-300 text-lg">{{ category.name }}</span>
    </a>
    </li>
    {% endif %}
  {% endfor %}
{% endblock sidecontent %}
