<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Date</th>
      <th scope="col" class="px-6 py-3">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for login in login_history %}
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800">
      <td class="px-6 py-4 text-base">{{ login.date_time }}</td>
      <td class="px-6 py-4 text-base">
        {% if login.is_login %}
          <span class="text-green-500"> Login </span>
        {% else %}
          <span class="text-red-500"> Logout </span>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
