<h5 class="card-title">Login History</h5>
<table class="table table-dark table-striped" id="sortable-table">
  <thead>
    <tr>
      <th class="sortable">Date</th>
      <th class="sortable">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for login in login_history %}
    <tr>
      <td>{{ login.date_time }}</td>
      <td>
        {% if login.is_login %}
          <span class="text-success"> Login </span>
        {% else %}
          <span class="text-danger"> Logout </span>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

