<div class="p-4 md:ml-64">
  <!-- Breadcrumb -->
  <nav class="flex my-2 mt-12 p-4" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
      <li class="inline-flex items-center space-x-1 text-gray-400 hover:text-white">
        <i class=" fas fa-home"></i>
        <a href="{% url 'home' %}" class="inline-flex items-center text-sm font-medium">
          Home
        </a> 
        <i class="fa-solid fa-angle-right"></i>
      </li> <li class="inline-flex items-center space-x-1 text-gray-400 hover:text-white">
        <a href="{% url 'settings' %}" class="inline-flex items-center text-sm font-medium">
          Settings
        </a> 
        <i class="fa-solid fa-angle-right"></i>
      </li>
      <li class="inline-flex items-center space-x-1 text-gray-400 hover:text-white">
        <span class="ms-1 text-sm font-medium md:ms-2 text-gray-400">
          Cashier
        </span>
      </li>
    </ol>
  </nav>
  <div class="p-4 rounded-lg h-modal px-10 min-w-min">
    <div
      id="tabs" hx-target="#tab-contents" role="tablist"
      class="flex space-x-4 border-b border-gray-500">

      <button
        hx-get="{% url 'customer_settings_view'%}"
        role="tab" aria-controls="tab-contents" aria-selected="true"
        class="px-4 py-2 rounded-lg text-white hover:bg-gray-500 rounded-b-none bg-gray-500 "
        _="on click remove .bg-gray-500 from <button/> in tabs then add .bg-gray-500 on me" >
        Customer
      </button>
      <button
        hx-get="{% url 'attribute'%}"
        role="tab" aria-controls="tab-contents" aria-selected="false"
        class="px-4 py-2 rounded-lg text-white rounded-b-none hover:bg-gray-500"
        _="on click remove .bg-gray-500 from <button/> in tabs then add .bg-gray-500 on me" >
        Attributes & Products
      </button>
    </div>
    <div id="tab-contents"
      hx-get="{% url 'customer_settings_view' %}"
      hx-trigger="load"
      role="tabpanel" class="mt-5" >
    </div>
  </div>
</div>

