{% extends 'base.html' %}

{% block sidecontent %}
  {% if perms.accounts %} 
  <li class="item">
    <a
      id="s_employee"
      hx-get="{% url "employee_list" %}"
      hx-target="#settings_content"
      hx-swap="innerHtml"
      _="on click remove .bg-gray-700 from <a/> in .ul_items then add .bg-gray-700 to me"
      class="flex items-top p-2 bg-gray-700 rounded-lg text-white 
      hover:bg-gray-700 group cursor-pointer">
      <span class="inline-block transition duration-75 
        text-gray-200 group-hover:text-white">
        <i class="text-xl fa-solid fa-circle-plus"></i>
      </span>
        <span class="ms-5 text-gray-300 text-lg">Employee</span>
    </a>
  </li>
  {% endif %}
  {% if perms.orders %} 
  <li class="item">
    <a
      hx-get="{% url "inventory" %}"
      hx-target="#settings_content"
      hx-swap="innerHTML"
      _="on click remove .bg-gray-700 from <a/> in .ul_items then add .bg-gray-700 to me"
      class="flex items-top p-2 rounded-lg text-white 
      hover:bg-gray-700 group cursor-pointer max-h-full">
      <span class="inline-block transition duration-75 
        text-gray-200 group-hover:text-white">
        <i class="text-xl fa-solid fa-circle-plus"></i>
      </span>
        <span class="ms-5 text-gray-300 text-lg">Inventory</span>
    </a>
  </li>
  {% endif %}
{% endblock sidecontent %}

{% block content %} 
    {% if perms.accounts %} 
    {% include 'settings/employee/employee.html' %}
    {% endif %}
{% endblock %}
