{% extends 'base.html' %}

{% block sidecontent %}
  {% if perms.accounts %} 
  <li class="item">
    <a
      id="s_employee"
      hx-get="{% url "employee_list" %}"
      hx-target="#settings_content"
      hx-swap="innerHtml"
      _="on click remove .bg-gray-700 from .group in .item then add .bg-gray-700 to me"
      class="flex items-top p-2 text-gray-900 bg-gray-700 rounded-lg dark:text-white hover:bg-gray-100 
      dark:hover:bg-gray-700 group cursor-pointer">
      <span class="inline-block w-5 h-5 text-gray-500 transition duration-75 
        dark:text-gray-200 group-hover:text-gray-900 dark:group-hover:text-white">
        <i class="text-xl fa-solid fa-circle-plus"></i>
      </span>
        <span class="ms-5 text-gray-300 text-lg">Employee</span>
    </a>
  </li>
  {% endif %}
  <li class="item">
    <a
      hx-get="{% url "inventory" %}"
      hx-target="#settings_content"
      hx-swap="innerHTML"
      _="on click remove .bg-gray-700 from .group in .item then add .bg-gray-700 .text-white to me"
      class="flex items-top p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 
      dark:hover:bg-gray-700 group cursor-pointer max-h-full">
      <span class="inline-block w-5 h-5 text-gray-500 transition duration-75 
        dark:text-gray-200 group-hover:text-gray-900 dark:group-hover:text-white">
        <i class="text-xl fa-solid fa-circle-plus"></i>
      </span>
        <span class="ms-5 text-gray-300 text-lg">Inventory</span>
    </a>
  </li>
{% endblock sidecontent %}

{% block content %} 
  <div id="settings_content" class="max-h-full">
    {% if perms.accounts %} 
    {% include 'settings/employee/employee.html' %}
    {% endif %}
  </div>
{% endblock %}
