<table id="products-table" class="w-full text-sm text-left rtl:text-right text-gray-400">
  <thead class="sticky top-0 text-sm uppercase bg-gray-700 text-gray-400">
    <tr>
      <th scope="col" class="px-2 py-3">name</th>
      <th scope="col" class="px-2 py-3">attributes</th>
      <!--<th scope="col" class="px-2 py-3">note</th>-->
      <th scope="col" class="px-2 py-3">price</th>
      <th scope="col" class="px-2 py-3">amount</th>
      <th scope="col" class="px-2 py-3">total</th>
      <!--<th scope="col" class="px-2 py-3">Date</th>-->
      <th scope="col" class="px-2 py-3">D_Type</th>
      <th scope="col" class="px-2 py-3">D_status</th>
      <!--<th scope="col" class="px-2 py-3">D_date</th>-->
      <th scope="col" class="px-2 py-3">Action</th>
    </tr>
  </thead>
  <tbody id="table_body">
  </tbody>
</table>


<script>
  function calculateTotal() {
    let grandTotal = 0;
    document.querySelectorAll('[id^="total-price-"]').forEach(function(element) {
      grandTotal += parseFloat(element.innerText);
    });
    document.getElementById('grand-total').innerText = grandTotal.toFixed(2);
  }

  // Initial calculation when the page loads
  document.addEventListener('DOMContentLoaded', calculateTotal);
</script>
