<table class="w-full text-sm text-left rtl:text-right text-gray-400" ">
  <thead class="sticky top-10 text-sm uppercase bg-gray-700 text-gray-400">
    <tr>
      <th scope="col" class="px-3 py-3">Product</th>
      <th scope="col" class="px-3 py-3">Price</th>
      <th scope="col" class="px-3 py-3">Fawry</th>
    </tr>
  </thead>
  <tbody>
    {% for subcategory, products in subcategory_products.items %}
      <tr class=" bg-gray-700 border-b">
        <td colspan="4" class="px-3 py-3 text-xl font-bold text-gray-200">
          {{ subcategory.name }}
        </td>
      </tr>
      <!-- Product Lines -->
      {% for product, product_lines in products.items %}
        {% for product_line in product_lines %}
          <tr 
            hx-get="{% url 'order_detail_row' product_line.id %}"
            hx-target="#table_body"
            hx-swap="beforeend"
            hx-trigger="click"
            x-on:htmx:after-request="count++, calculateTotal()"
            class="text-lg text-gray-300 odd:bg-gray-900 even:bg-gray-800
            hover:bg-gray-600 cursor-pointer">
            <td class="px-3 py-3 ">
              <p>{{ product.name }}</p>
              <p>({{ product_line.values }})</p>
            </td>
            <td class="px-3 py-3">{{ product_line.normal_price }}</td>
            <td class="px-3 py-3">{{ product_line.fawry_price }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
