{% block content %} 
  <div class="p-4 sm:ml-64">
    <div class="p-4 rounded-lg mt-14">

      <!-- Cards -->
      <div 
        hx-trigger="load, cards from:body" hx-get="{% url 'cards' %}" hx-target="this"
        id='cards' class='row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3'>
      </div>
      
      <!-- Modal -->
      <div>
        <!-- Modal Button -->
        <button id="openModal"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
          focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5
          me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none
          dark:focus:ring-blue-800">
            Add Employee
        </button>


        <!-- Main modal -->
        <div id="authentication-modal" tabindex="-1" aria-hidden="true" hx-target="this" 
          class="hidden overflow-y-auto overflow-x-hidden fixed top-0 
          right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        </div>


        <div id="modal" class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 hidden">
          <div class="flex items-center justify-center h-full">
            <div class="bg-white p-8 rounded shadow-lg w-1/2">
              <h2 class="text-lg font-bold mb-4">Modal Form</h2>
              <form id="myForm" method="POST" hx-post="{% url 'create_user' %}" hx-trigger="submit">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Save
                </button>
              </form>
              <button id="closeModal" class="mt-4 text-gray-500 hover:text-gray-700">Close</button>
            </div>
          </div>
        </div>

      <!-- Table -->
        <div 
          hx-trigger="load, table_refresh from:body" 
          hx-get="{% url 'table_refresh' %}" 
          hx-target="this">
        </div>
      </div>
    </div>


    <script>
        document.getElementById('openModal').addEventListener('click', function() {
            document.getElementById('modal').classList.remove('hidden');
        });
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('modal').classList.add('hidden');
        });
    </script>



{% endblock %}
