<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-3 py-3">Procut</th>
      <th scope="col" class="px-3 py-3">Sub_Category</th>
      <th scope="col" class="px-3 py-3">description</th>
      <th scope="col" class="px-3 py-3">Active</th>
      <th scope="col" class="px-3 py-3">Countable</th>
      <th scope="col" class="px-3 py-3">Created at</th>
      <th scope="col" class="px-3 py-3">Updated at</th>
      <th scope="col" class="px-3 py-3">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800">
      <td class="px-3 py-4 text-base">{{ product.name }}</td>
      <td class="px-3 py-4 text-base">{{ product.sub_category }}</td>
      <td class="px-3 py-4 text-base">{{ product.description }}</td>
      <td class="px-6 py-4 text-base">
        {% if product.is_active %}
        <span class="bg-red-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-600 dark:text-gray-100">Active</span>
        {% else %}
        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-700 dark:text-gray-100">Inactive</span>
        {% endif %}
      </td>
      <td class="px-3 py-4 text-base">{{ product.is_countable }}</td>
      <td class="px-3 py-4 text-base">{{ product.created_at }}</td>
      <td class="px-3 py-4 text-base">{{ product.updated_at }}</td>
      <td class="px-3 py-4 text-base">
        <a 
          hx-get="{% url 'edit_product' product.id %}"
          hx-target="#modal_form"
          hx-swap="innerHtml"
          _="on click remove .hidden from modal_div"
          class="cursor-pointer hover:text-blue-700">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
