{% extends "base.html" %}

{% block title %}Home{% endblock title %}

  {% block sidecontent %}
    <div class="list-group text-nowrap">
      {% for catigory in catigory_list %}
        <a href="#" class="list-group-item list-group-item-action sidebar-item">
          <i class="fa-solid fa-circle-plus"></i>
          <span>{{ catigory.name }}</span>
        </a>
      {% endfor %}
    </div>
  {% endblock sidecontent %}

  {% block content %}
  <a id="htmx_link" href={% url "home" %} hx-boost="true" hx-target="#paragraph"> link </a>
  <button id="paragraph" class="m-5"> </button>

  <div hx-post="/mouse_entered" hx-trigger="mouseenter">
    [Here Mouse, Mouse!]
  </div>

  <div hx-post="/mouse_entered" hx-trigger="mouseenter once">
    [Here Mouse, Mouse!]
  </div>

  <br>
  <input type="text" name="q"
    hx-get="/trigger_delay"
    hx-trigger="keyup changed delay:500ms"
    hx-target="#search-results"
    placeholder="Search..."
>
  <div id="search-results"></div>
  {% endblock content %}

