{% extends "base.html" %}

{% block title %}Home{% endblock title %}

  {% block sidecontent %}
    <div class="list-group text-nowrap">
      {% for catigory in catigory_list %}
        <a href="#" class="list-group-item list-group-item-action sidebar-item">
          <i class="fa-solid fa-circle-plus"></i>
          <span>{{ catigory.name }}</span>
        </a>
      {% endfor %}
    </div>
  {% endblock sidecontent %}

  {% block content %}
  <button id="paragraph" class="m-5" hx-post={% url 'view_categories' %} hx-trigger="click" hx-target="#target"> click </button>
  <div id="target"> </div>


  <div id="search-results"></div>
  {% endblock content %}

