<div class="container-fluid">
  <!-- Start Sidebar -->
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="logo text-white">
        <button id="resizeButton" class="text-white"><i class="fa-solid fa-grid fs-2"></i></button>
      </div>
      <ul class="d-flex flex-column m-0 p-0 mt-4">
        <li>
          <a href="#" class="nav-link text-white" aria-current="page">
            <i class="fs-3 fa-solid fa-aperture"></i>
            <span class="fs-5">Studio</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" aria-current="page">
            <i class="fa-regular fa-house fs-4"></i>
              <span class="fs-5">Home Page</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-rings-wedding fs-4"></i>
            <span class="fs-5">Wedding pk</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-copy fs-4"></i>
            <span class="fs-5">Soft Copy</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-images fs-4"></i>
            <span class="fs-5">Albums</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-frame fs-4"></i>
            <span class="fs-5">Frames</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-gift fs-4"></i>
            <span class="fs-5">Photo Gifts</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-badge-percent fs-4"></i>
            <span class="fs-5">Offers</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-photo-film-music fs-4"></i>
            <span class="fs-5">Media Pro..</span>
          </a>
        </li>
        <li class="nav-footer">
          <a href="#" class="nav-link text-white">
            <i class="fa-regular fa-right-from-bracket fs-4"></i>
            <span class="fs-5">Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Sidebar -->

  <!-- Start Main Content -->
  <div class="main-content bg-danger">
  </div>
  <!-- End Main Content -->
</div>