{% extends 'base.html' %}
{% block content %}
  <div class="p-4 md:ml-64 mt-12 bg-gray-900 text-gray-100">
  <img src="http://192.168.1.16:9000/media/images/IMG_20190604_094500.jpg" style="max-width: 300px" />
    <div class="overflow-x-auto bg-gray-800 shadow-md rounded-lg">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-700">
          <tr>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Select</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Author</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Image Name</th>
          </tr>
        </thead>
        <tbody class="bg-gray-800 divide-y divide-gray-700">
          {% for image in images %}
            <tr class="hover:bg-gray-700 transition-colors duration-200">
              <td class="px-4 py-2 whitespace-nowrap">
                <input type="checkbox" class="image-checkbox form-checkbox h-5 w-5 text-blue-500 bg-gray-700 border-gray-600 rounded focus:ring-blue-600" data-url="http://test.com:9000/media/{{ image.image }}" data-filename="{{ image.uploaded_at|date }}_{{ image.order_detail.product_line.product.name }}.jpg">
              </td>
              <td class="px-4 py-2 whitespace-nowrap">
                <div class="text-sm font-medium text-gray-200">{{ image.author }}</div>
              </td>
              <td class="px-4 py-2 whitespace-nowrap">
                <div class="text-sm text-gray-400">{{ image.image }}</div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mt-6 flex justify-end">
      <button onclick="downloadSelectedImages()" class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
        Download Selected Images
      </button>
    </div>
  </div>

  <script>
    function downloadSelectedImages() {
      const checkboxes = document.querySelectorAll('.image-checkbox:checked');
      if (checkboxes.length === 0) {
        alert('Please select at least one image to download.');
        return;
      }

      checkboxes.forEach(checkbox => {
        const imageUrl = checkbox.dataset.url;
        const fileName = checkbox.dataset.filename;
        downloadImage(imageUrl, fileName);
      });
    }

    function forceDownload(blob, filename) {
      var a = document.createElement('a');
      a.download = filename;
      a.rel = 'noopener';
      a.href = URL.createObjectURL(blob);
      
      setTimeout(function() { URL.revokeObjectURL(a.href); }, 4E4); // 40s
      setTimeout(function() { a.click(); }, 0);
    }

    function downloadImage(imageUrl, fileName) {
      fetch(imageUrl)
        .then(function(response) {
          return response.blob();
        })
        .then(function(blob) {
          forceDownload(blob, fileName);
        })
        .catch(function(error) {
          console.error('Error:', error);
          alert('An error occurred while downloading the image: ' + fileName);
        });
    }
  </script>
{% endblock %}
