<div class="p-4 sm:ml-64 h-modal">
  <div class="p-4 pt-10 rounded-lg mt-14 h-modal px-10">
    <div class="grid md:grid-cols-2 gap-10 h-modal ">
      <div
        id="category_list"
        class="bg-gray-800 rounded-lg p-10 h-full mx-10 min-w-40 md:my-0 my-5">
        <form class="input-group mb-3" action="" 
           hx-post="{% url 'create' %}"
           hx-trigger="submit"
           hx-target="#settings_container"
           hx-swap="outerHTML" >
          {% csrf_token %}
          <div>
            <div class="flex">
              <input type="text"  name="category" class="bg-gray-50 border border-gray-300 
                text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 
                w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500 h-10 rounded-r-none" placeholder="Cateogry" required />
              <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800
                focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 
                dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 h-15 rounded-l-none">Add</button>
            </div>
          </div>
        </form>
      </div>
      <div
        id="sub_category_list"
        class="bg-gray-800 rounded-lg p-10 h-full mx-10 min-w-40">
        <form class="input-group mb-3" action="" 
           hx-post="{% url 'create' %}"
           hx-trigger="submit"
           hx-target="#settings_container"
           hx-swap="outerHTML" >
          {% csrf_token %}
          <div>
            <div class="flex">
              <input type="text"  name="sub_category" class="bg-gray-50 border border-gray-300 
                text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 
                w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500 h-10 rounded-r-none" placeholder="Sub Cateogry" required />
              <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800
                focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 
                dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 h-15 rounded-l-none">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
