<div class="input-group  d-flex justify-content-center align-items-center">
  <form class="input-group " action="" 
    {% csrf_token %}
    <input name="update_sub" type="text" class="form-control" aria-describedby="button-addon2" value="{{subcategory.name}}" required />
    <button class="btn btn-primary" type="submit" id="button-addon2"
      hx-post="{% url 'apply_sub' subcategory.id %}"
      hx-trigger="click"
      hx-target="#subcategory_list"
      hx-swap="innerHTML"
      >
      apply
    </button>
    <button class="btn btn-secondary" type="button" id="button-addon2" 
      hx-post="{% url 'cancel_sub' subcategory.id %}"
      hx-trigger="click"
      hx-target="#subcategory_list"
      hx-swap="innerHTML"
      hx-confirm="Delete '{{subcategory.name}}'?"
      >cancel</button>
  </form>
</div>

