{% for subcategory in subcategory_list %}
  <div id="subcategory_{{subcategory.id}}" class="list-group-item d-flex justify-content-center align-items-center 
    justify-content-between rounded-3 text-white text-opacity-75 bg-dark border-secondary">
    <p class="category text-white d-flex align-items-center justify-content-between  bg-dark m-0 p-0" style="width: 70% ;">
      {{subcategory.name}}
    </p>

    <div class="btn-container d-flex align-items-center justify-content-between" style="width: 20% ;">
      <div
        hx-get="{% url "rename_sub" subcategory.id %}"
        hx-target="#subcategory_{{subcategory.id}}"
        hx-trigger="click"
        hx-swap="outerHTML"
        class="edit" id="edit_div">
        <i class="fa-solid fa-pen-to-square" style="color: #74C0FC; cursor: pointer;"></i>
      </div>
      
      <div
        hx-get="{% url "delete_sub" subcategory.id %}"
        hx-trigger="click"
        hx-target="#subcategory_list"
        hx-swap="innerHTML"
        hx-confirm="Delete '{{subcategory.name}}'?"
        class="del">
          <i class="fa-solid fa-trash-can" style="color: #f66151; cursor: pointer;"></i>
      </div>
    </div>
  </div>
{% endfor %}

