{% include "includes/messages.html" %}

<div class="grid grid-cols-7">
  <div class="col-span-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-200 rounded-lg overflow-hidden shadow">
      <tbody>
        <tr class="border-b border-gray-600">
          <th class="px-6 py-2.5 whitespace-nowrap text-gray-300
            font-bold bg-gray-700 w-20"> Name One </th>
          <td class="px-4 py-2.5 text-white font-bold"> {{ customer.name_one }} </td>
        </tr>
        <tr class="border-b border-gray-600">
          <th class="px-6 py-2.5 whitespace-nowrap text-gray-300
            font-bold bg-gray-700 w-20"> Name Two</th>
          <td class="px-4 py-2.5 text-white font-bold">
            {% if customer.name_two %} 
              {{ customer.name_two }}
            {% endif %} 
          </td>
        </tr>
        <tr class="border-b border-gray-600">
          <th class="px-6 py-2.5 whitespace-nowrap text-gray-300
            font-bold bg-gray-700 w-20"> Phone </th>
          <td class="px-4 py-2.5"> {{ customer.phone }} </td>
        </tr>
        <tr>
          <th class="px-6 py-2.5 whitespace-nowrap text-gray-300
            font-bold bg-gray-700 w-20"> Whatsapp </th>
          <td class="px-4 py-2.5"> {{ customer.whatsapp }} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <input
    type="hidden" id="customer_id_hidden" name="customer_id" value="{{ customer.id }}"
    _="on load set #form_customer_id's value to my.value">

  <div class="flex flex-col col-span-2 place-self-center">
    {% if customer.id %}
      {% component "button" 
        label="Update" 
        style="green" 
        hx_get=True 
        url_name="edit_customer" 
        url_params=customer.id hx_target="#modal_form"
        hx_swap="innerHTML" 
        hyper="on click remove .hidden from modal_div" 
      %}
      {% endcomponent %}
    {% endif %}
    {% component "button" 
      label="New" 
      hx_get=True 
      url_name="create_customer" 
      hx_target="#modal_form" 
      hx_swap="innerHTML" 
      hyper="on click remove .hidden from modal_div" 
    %}
    {% endcomponent %}

    {% component "button" 
      label="Clear" 
      style="light" 
      hx_get=True 
      url_name="clear_customer_info" 
      hx_target="#customer" 
      hx_swap="innerHTML" 
      hx_trigger="click, clear_info" 
      hyper="on click set #customer_order_id.value to '' then reset() the #order_id_form" 
    %}{% endcomponent %}
  </div>
</div>
