<form
  hx-post="{% url 'customer_form' %}"
  id="customer_form" class="text-white flex justify-between items-center" >
  {% csrf_token %}
  <div class="px-2 pb-2 space-y-2">
    {{ form.phone }}
    {{ form.name_one }}
    {{ form.name_two }}
    {{ form.whatsapp }}
  </div>
  <div class="">
    <button class="block text-white focus:ring-4 focus:outline-none
       font-medium rounded-lg text-sm w-24 h-10 px-5 py-2.5 text-center bg-blue-600
      hover:bg-blue-700 focus:ring-blue-800 my-3" type="submit">
      Save
    </button>
    <button class="block text-white focus:ring-4 focus:outline-none
       font-medium rounded-lg text-sm w-24 h-10 px-5 py-2.5 text-center bg-green-600
      hover:bg-green-700 focus:ring-green-800 my-3" type="button">
      Update
    </button>
    <button
      _="on click reset() the #customer_form"
      class="block text-white focus:ring-4 focus:outline-none
       font-medium rounded-lg text-sm w-24 h-10 px-5 py-2.5 text-center bg-gray-600
      hover:bg-gray-700 focus:ring-gray-800 my-3" type="button">
      Clear
    </button>
  </div>
</form>

