{% load crispy_forms_tags %}
<form hx-post="{% url 'create_product_line' %}" class="text-white">
  <div class="py-3">
    {% csrf_token %}
    <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product</label>
    <select
      hx-get="load_product_values/"
      hx-target="#attribute_values"
      id="product" name="product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
      rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>---------</option>
      {% for product in product_list %}
      <option value="{{product.id}}">{{ product }}</option>
      {% endfor %}
    </select>
    <label for="attribute_values" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Values</label>
    <select multiple id="attribute_values" name="attribute_values" class="mt-2 bg-gray-50 border border-gray-300 text-gray-900
      text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
      dark:border-gray-600 dark:placeholder-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" style="appearance: none;">
    </select>
    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price:</label>
    <input type="number" id="price" name="price" aria-describedby="helper-text-explanation" 
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    <label for="stock_qty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock:</label>
    <input type="number" id="stock_qty" name="stock_qty" aria-describedby="helper-text-explanation" 
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    <label for="min_stock_qty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Low_stock:</label>
    <input type="number" id="min_stock_qty" name="min_stock_qty" aria-describedby="helper-text-explanation" 
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
      focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    <input id="is_active" type="checkbox" name="is_active" 
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500
      dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="is_active" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Active</label>
  </div>
  <div class="flex justify-between mt-2 px-5 border-t">
    <button 
      _="on click add .hidden to modal_div"
      type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none
      focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 my-3
      dark:bg-gray-600 dark:hover:bg-gray-800 dark:focus:ring-gray-700 dark:border-gray-700">
      cancel
    </button>
    <button 
      class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
      font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-800 
      dark:focus:ring-blue-800 my-3" type="submit">
      Add
    </button>
  </div>
</form>
